.footer
	.wrapper
		%ul.first
			%li
				%span{:style => "font-weight: bold;"}
					= link_to 'Products', "/"
			%li
				= link_to 'Products', "/"
			%li
				= link_to 'Products', "/"
			%li
				= link_to 'Products', "/"
			%li
				= link_to 'Products', "/"
		%ul
			%li
				%span{:style => "font-weight: bold;"}
					= link_to 'Products', "/"
			%li
				= link_to 'Products', "/"
			%li
				= link_to 'Products', "/"
			%li
				= link_to 'Products', "/"
			%li
				= link_to 'Products', "/"			
				
		%ul
			%li
				%span{:style => "font-weight: bold;"}
					= link_to 'Products', "/"
			%li
				= link_to 'Products', "/"
			%li
				= link_to 'Products', "/"
			%li
				= link_to 'Products', "/"
			%li
				= link_to 'Products', "/"	
		%ul.info
			%li.connect
				%span{:style => "font-weight: bold;"}
					= link_to 'Connect', "/"
			%li.facebook
				= link_to 'Facebook', "http://www.facebook.com/hb.print"
			%li.myspace
				= link_to 'Myspace', "http://www.myspace.com/hbprint"
			%li.twitter
				= link_to 'Twitter', "http://twitter.com/Hbprint/statuses/4387180482"
			%li.youtube
				= link_to 'Youtube', "http://www.youtube.com/hbprint"
		%ul.mcafee
			= link_to image_tag('mcafee.png')