!!!
%html
	%head
		%title
			HB Print
		= csrf_meta_tags 			
		= render 'layouts/stylesheets'
		= render 'layouts/javascripts'
		:css
			body {background: url('/assets/shortHeader.jpg') no-repeat;}
	.wrapper	
		= render 'layouts/shortHeader'
		= yield
		
